__pycache__/config.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/model_handler.cpython-310.pyc
app/routes/__pycache__/__init__.cpython-310.pyc
